.vscode/**
.vscode-test/**
node_modules/**
src/**
webviews/**
out/compiled/CompassSidebar.*
out/compiled/HelloWorld.*
out/compiled/ProjectSettings.*
common/test/**
readme_assets/**
compass-add-fileDir/**
compass-add-yaml-0323-main/**
.codex
.DS_Store
**/.DS_Store
**/*.map
**/*.ts
**/tsconfig.json
**/eslint.config.mjs
.gitignore
.yarnrc
webpack.config.js
rollup.config.js
postcss.config.js
tailwind.config.js
vsc-extension-quickstart.md
mock/Archive.zip
*.vsix
